.state{
    display: flex;
    flex-direction: column;
}
.box{
    display: table;
    margin: 0 auto;
}

.notification {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #706f6f;
    text-align: center;
  }